<!doctype html>
<html>
    <head>
        <meta http-equiv="refresh" content="1">
    </head>
    <body>
        <title>Hello from Flask</title>
        {% if time %}
        <h1>현재 사용 가능한 시간~ : {{ time }} 초!</h1>
        {% endif %}

        {% if Print_running %}
        <h1>{{ process_Name }} is running!!</h1>
        {% else %}
        <h1>{{ process_Name }} is no exist!!</h1>
        {% endif %}

        {% if Print_info %}
        <h1>>>>>>>> information of {{ process_Name }}</h1>
        {% for NamePID in Process_NamePID %}
        
        <h3>{{ NamePID }}</h3>
        <!-- PID의 Cpu Usage & Memory Usage 정보-->
        <h4>----------------------------------------------------</h4>
        
          <h3>{{ NamePID }}</h3>
          <!-- PID의 Cpu Usage & Memory Usage 정보-->
          <h4>----------------------------------------------------</h4>
          
        {% endfor %}
        <h1>>>>>>>>>검사 종료!!</h1>
        {% else %}
        <h1>키워드를 포함하는 실행중인 프로세스가 없습니다.</h1>
        <h1>>>>>>>>>검사 종료!!</h1>
        {% endif %}
    </body>
</html>
