.wrap {
    position: relative;
    padding: 2%;
  }

.container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

.chart {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.3s;
  }
