@keyframes is-gx {
    0%,
    10%,
    100%{
        width: 400px;
    }
    30%,
    50%{
        width: 500px;
    }
}

@media (max-width:1200px){
    .main{
        transform: scale(0.7);
    }
}
@media (max-width:1000px){
    .main{
        transform: scale(0.6);
    }
}
@media (max-width:800px){
    .main{
        transform: scale(0.5);
    }
}
@media (max-width:600px){
    .main{
        transform: scale(0.4);
    }
}
